@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b1220;
}

html {
  direction: rtl;
}

body {
  @apply bg-slate-50 text-slate-900 dark:bg-[#0b1220] dark:text-slate-100 font-sans;
}

.container-page {
  @apply p-4 md:p-6;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 8px;
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 20px 60px -30px rgba(0, 0, 0, 0.25);
}
